@import './cards.css';
@import './pokeballCheking.css';
@import './pokedex.css';
@import './navbarStyles.css';

/* paleta de colores */
:root{
  --bg: #424242 url(https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png);
  --bg2:white url(https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png);
  --red:#e3350d;
  --orange:#ee6b2f;
  --yellow:#e6bc2f;
  --green:#4dad5b;
  --blue:#30a7d7;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
  background: var(--bg);
  font-family: 'Open Sans', sans-serif !important;
}
