.imgPokedexContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokedeximg{
    width: 100px;
    height: 50px;   
}

.containerPokedex{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    height: 78vh;
    background: url(https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png),
                linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

.cardPokedex{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
}
