.result-container {
    border: 1px solid var(--green);
    border-radius: 8px;
    width: 100%;
    min-width: 80%;
    height: 700px;
    min-height: 80vh;
    padding: 5px;
    background-color: white;
    display: flex;
    justify-content: center;
}

.pokedex-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--yellow)
}

.result-poke {
    width: 100%;
    justify-content: center;
    display: flex;
}

.maain-results {
    width: 30%;
    min-width: 30%;
}

.maain-results img {
    width: 100%;
    min-width: 30%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.poke-type{
    margin: 15px 0;
    font-weight: 500;
}

.poke-type li{
    list-style: none;
    margin-left: 2rem;
    line-height: 2.5rem;
}

.stats-container {
    width: 20%;
    min-width: 40%;
    padding: 2rem;
}

.stats{
    font-size: large;
    font-weight: 500;
    line-height: 2rem;
}

.abiliti-list{
    list-style: none;
    line-height: 2rem;
}

.png-containers{
    display: flex;
    justify-content: space-around;
}